body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* #main-header {
    width: 100%;
    height: 100vh; // Take up whole viewport height initially
    background-color: #4CAF50;
    // ... other styling ...
} */

.navbar {
    height: 50px; /* Adjust height for navbar */
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: height 0.3s;
    /* ... other styling for navbar ... */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#hero h1 {
    margin: 0;
    font-size: 2.5em;
}

#hero p {
    margin: 5px 0 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    color: white;
    background-color: #555;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: white;
}

article {
    margin-bottom: 20px;
    width: 30%;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    #hero h1 {
        font-size: 2em; /* Smaller text for smaller screens */
    }

    #hero {
        flex-direction: column; /* Stack columns on top of each other */
        align-items: center;
    }

    button {
        padding: 8px 16px;
        margin: 1px;
    }

    main, footer {
        padding: 15px;
    }

    section {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px 0;
    }

    #hero h1 {
        font-size: 1.5em;
    }

    #hero p {
        margin: 4px 0 15px;
    }

    button {
        font-size: 0.8em; /* Even smaller text and buttons for very small screens */
    }
}
